<!-- inner page banner -->
<div ng-controller="APICtrl">
<section class="inner-page-banner">
	<div class="page-heading text-center">
		<h2>Contact Page</h2>
		<span class="section_1-breadcrumbs"><a href="#"><i class="fa fa-home home_1"></i> Home</a> <span>/ Contact</span></span>
	</div>
</section>
<!-- //inner page banner -->

<!-- contact -->		
<section class="contact py-5">
	<div class="container py-md-5" >
		<div class="heading pb-4">
			<h3 class="heading mb-2 text-center"> <span>Contact </span> Us </h3>
			<p class="para mb-5 text-center">Excepteur sint occaecat non proident, sunt in culpa quis. Phasellus lacinia id.</p>
		</div>
		<div class="row contact-agileinfo">
			<div class="col-md-7 contact-right"> 
				<form action="#" method="post">  
					<input type="text" name="Name" placeholder="Name" required="">
					<input type="email" class="email" name="Email" placeholder="Email" required="">
					<input type="text" name="Phone no" placeholder="Phone" required="">
					<textarea name="Message" placeholder="Message" required=""></textarea>

					<div class="col-lg-12">
						<div class="row">
							<div ng-repeat="item in thumb" >
							<div class="team-img col-lg-3" style="max-height: 128px;max-width: 128px;padding-left: 0px;padding-right: 15px " >
								<img style="height: 128px;width: 128px;" ng-src="{{item.imgSrc}}" alt="">
								<div class="overlay-team">
									<div class="team-details text-center">
										<div class="socials mt-20">
											<a class="button" ng-click="img_del($index)"><i class="fa fa-times"></i></a>
										</div>
									</div>
								</div>
							</div>
							</div>

							<div class="team-img col-lg-3" style="max-height: 128px;max-width: 128px;padding-left: 0px;padding-right: 0px">
								<img src="../images/add.png" alt="">
								<div class="overlay-team">
									<div class="team-details text-center">
										<div class="socials mt-20">
											<a class="button" ngf-select ngf-change="uploadFiles($files)" ngf-multiple="true" ngf-validate="{size: {min:'10KB', max:'20MB'}}" ngf-accept="'image/*'" accept="'image/*'" ><i class="fa fa-camera"></i></a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="read mt-3">
						<a href="#">Submit <span class="btn ml-2"><i class="fas fa-arrow-right" aria-hidden="true"></i></span></a>
					</div>	
				</form>
			</div>
			<div class="col-md-5 mt-md-0 mt-5 contact-left">
				<div class="address">
					<h5>Address:</h5>
					<p><span class="fa fa-home"></span>321 Block,4th Building, 2nd Street State 3489.</p>
				</div>
				<div class="address address-mdl">
					<h5>Phones:</h5>
					<p><span class="fa fa-phone"></span> +1(23) 4567 7890</p>
					<p><span class="fa fa-mobile"></span>+1(23) 4567 7891</p>
				</div>
				<div class="address">
					<h5>Email:</h5>
					<p><span class="fa fa-envelope"></span> <a href="mailto:mail@example.com">mail@example.com</a></p>
					<p><span class="fa fa-globe"></span> <a href="mailto:website@example.com">website@example.com</a></p>
				</div>
			</div>
		</div>
	</div>
</section>

<!--<div id="l-map" style="margin-left: 20px;margin-right: 20px"></div>-->
<!--<div id="r-result" style="margin-left: 20px;margin-right: 20px"></div>-->

</div>

