
<section  class="slide-window">
    <div class="slide-wrapper" style="width:300%;">
        <div class="slide">
            <div class="slide-caption text-center">
                <h2 class="text-uppercase">校园卡<span> 检测</span></h2>
                <p class="my-4">手机拍摄上传校园卡照片，在线检测是否为校园卡</p>
                <div class="read">
                    <a class="button" ng-click="GoToUpLoad()">试一试 <span class="btn ml-2"><i class="fas fa-arrow-right" aria-hidden="true"></i></span></a>
                </div>
            </div>
        </div>
        <div class="slide slide2">
            <div class="slide-caption text-center">
                <h3 class="text-uppercase">卡片信息<span> 识别</span></h3>
                <p class="my-4">提取校园卡信息，方便录入</p>
                <div class="read">
                    <a href="#" class="button" ng-click="GoToUpLoad()">试一试 <span class="btn ml-2"><i class="fas fa-arrow-right" aria-hidden="true"></i></span></a>
                </div>
            </div>
        </div>
        <div class="slide slide3">
            <div class="slide-caption text-center">
                <h3 class="text-uppercase">快速注册<span> 会员</span></h3>
                <p class="my-4">手机辅助拍摄，过审即可注册会员</p>
                <div class="read">
                    <a href="#" class="button" ng-click="GoToUpLoad()">试一试 <span class="btn ml-2"><i class="fas fa-arrow-right" aria-hidden="true"></i></span></a>
                </div>
            </div>
        </div>
    </div>
    <div class="slide-controller">
        <div class="slide-control-left">
            <div class="slide-control-line"></div>
            <div class="slide-control-line"></div>
        </div>
        <div class="slide-control-right">
            <div class="slide-control-line"></div>
            <div class="slide-control-line"></div>
        </div>
    </div>
</section>

<section class="Welcome py-5">
    <div class="container py-sm-5">
        <div class="welcome-grids row">
            <div class="col-lg-6 mb-lg-0 mb-5">
                <h3 class="mt-lg-4">灵感来源</h3>
                <p class="my-4">灵感源自五天契约情侣活动，在面向大众时为确保活动参与人员都为学校师生，需要人工甄别身份信息。在持有证明卡件下，如何快速有效准确率高的识别卡片信息，确认人员身份是一个值得思考的问题</p>
                <p class="mb-4">Deep Learning驱动的AI浪潮下，身份证识别已经有较高准确率。为什么利用现有开源技术，尝试一下识别学生证呢？</p>
                <div class="read">
                    <a href="about.html">Click More <span class="btn ml-2"><i class="fas fa-arrow-right" aria-hidden="true"></i></span></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-6 pr-1 welcome-image">
                <img src="images/a1.jpg" class="img-fluid" alt="" />
            </div>
            <div class="col-lg-3 col-md-4 col-6 pl-1 welcome-image">
                <img src="images/a2.jpg" class="img-fluid" alt="" />
            </div>
        </div>
    </div>
</section>
<!-- welcome -->

<!-- welcome bottom -->
<section class="Welcome-bottom">
    <div class="bs-slider-overlay">
        <div class="container">
            <div class="welcome-bottom-grids row">

                <!-- Counter -->
                <div class="col-lg-6 p-sm-5 p-4 welcome_left Features-bottom">
                    <div class="layer p-sm-5 p-4 welcome_left_inner agile-info">
                        <div class="agileits_w3layouts_about_counter_left w3-agile-grid">
                            <div class="countericon">
                                <span class="fab fa-algolia" aria-hidden="true"></span>
                                <h3 style="width: 150px">月均针对学生开展的活动数</h3>
                            </div>
                            <div class="counterinfo agile-info">
                                <p class="counter">436</p>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        <div class="mt-sm-5 mt-3 agileits_w3layouts_about_counter_left w3-agile-grid">
                            <div class="countericon">
                                <span class="fab fa-asymmetrik" aria-hidden="true"></span>
                                <h3 style="width: 150px">人均每天用卡片自证身份次数</h3>
                            </div>
                            <div class="counterinfo agile-info">
                                <p class="counter">10</p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="mt-sm-5 mt-3 agileits_w3layouts_about_counter_left w3-agile-grid">
                            <div class="countericon">
                                <span class="fas fa-bug" aria-hidden="true"></span>
                                <h3 style="width: 150px">平均每天遗失的学生证数</h3>
                            </div>
                            <div class="counterinfo agile-info">
                                <p class="counter">218</p>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                    </div>
                </div>
                <!-- //Counter -->
                <div class="col-lg-6 p-sm-5 p-4 mt-lg-5 mt-0 welcome_bottom_right">
                    <h3>需求分析</h3>
                    <p class="my-4">需求驱动进步</p>
                    <div class="read">
                        <a href="#" data-toggle="modal" data-target="#exampleModalCenter1" role="button">Click More <span class="btn ml-2"><i class="fas fa-arrow-right" aria-hidden="true"></i></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    jQuery(document).ready(function( $ ) {
        $('.counter').counterUp({
            delay: 100,
            time: 1000
        });
    });
</script>
<script>
    jQuery(document).ready(function($) {
        $(".scroll").click(function(event){
            event.preventDefault();
            $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
        });
    });
</script>



